* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug [class*="col-"] {
  position: relative;
  padding: 5px;
  border: 1px solid black;
  /* background: pink; */
}

.menu [class*="col-"] {
  height: 10vh;
  background-color: blue;
  color: white;
}

.jumbo [class*="col-"] {
  height: 50vh;
  background-color: green;
}

.portfolio {
  height: 10vh;
  background-color: white;
}

.blocchi [class*="col-"] {
  height: 20vh;
  background-color: red;
}

.about {
  height: 50vh;
  background-color: green;
}

.contact_me {
  height: 50vh;
  background-color: white;
}

.location {
  height: 30vh;
  background-color: lightblue;
}

.copyright {
  height: 10vh;
  background-color: blue;
}
